@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Monomaniac+One&display=swap');


:root {
    --intro-font-color: aqua;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(./assets/intro-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.banner__text-cinema {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    padding: 4vw 8vw;
    text-align: center;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 7em;
    margin-top: .5em;
    margin-bottom: 1em;
}

.banner__text-user {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 1em 1.5em;
    font-size: 1em;
    font-weight: 700;
}