@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Monomaniac+One&display=swap');


:root {
    --background-shade: rgb(29, 29, 29);
    --intro-font-color: 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--background-shade);
    background-image: url(./assets/intro-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.only-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#intro {
    padding: 5vw 10vw;
    text-align: center;
    color: #fff;
    font-size: 3.5em;
}