:root {
    --default-red: rgb(220, 20, 60);
    --text-color: rgb(240, 240, 240);
    --bkgrd-clr: rgb(90, 82, 82);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bkgrd-clr);
}

body {
    overflow-x: hidden;
}


.nav_banner {
    position: relative;
    margin: 2em;
}

nav {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__links>.nav__link {
    text-align: center;
    padding: .25em;
    margin: 0 2em;
    cursor: pointer;
}

.nav__links>a.nav__link {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

.nav__link.active:hover {
    background-color: chartreuse;
    place-items: center;
    width: .25em;
    height: .25em;
    border-radius: 50%;
}

.nav__cinema-logo>span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav__cinema-logo>span>h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25em;
}

.nav__button>button {
    text-align: center;
    text-transform: capitalize;
    padding: .75em 2em;
    border-radius: .75em;
    border: none;
    cursor: pointer;
    transition: ease-in;
    transition-duration: 250ms;
}

.nav__button>button:hover {
    transform: scale(.95);
    background-color: var(--default-red);
    color: var(--text-color);
}


.banner_hero {
    position: relative;
    margin: 2em;
    padding: 1em 2em;
}

.film__schedule {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.film__schedule-title {
    padding: .25em;
    max-width: 50%;
    font-size: 3.5em;
    margin-bottom: 2em;

}

.film__schedule {
    margin-top: 2em;
    display: inline-block;
}

.film__schedule-top1 {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.film__schedule-top1 .film__schedule-book {
    padding: 0.25em 3em;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
}

.film__schedule-book button {
    border-radius: .75em;
    border: none;
    padding: 1em 3em;
    text-transform: uppercase;
    font-size: .89em;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 250ms;
}

.film__schedule-book button:hover {
    transform: perspective(.5);
    transform: scale(1.1);
    background-color: var(--default-red);
    color: var(--text-color)
}


.film__schedule-top1 .film__schedule-data {
    padding: 0.05em 2em;
    margin-left: 10em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    font-size: .89em;
}

.film__schedule-top2 {
    /* padding: 1.5em 0; */
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;

}

.film__schedule-top2 .banner__section-slider {
    display: flex;
    /* flex-flow: column-reverse wrap; */
    /* justify-content: space-between; */
}

.slider__arrows {
    position: relative;
    display: flex;
    margin-top: 6em;
}

.slider__arrows>button {
    padding: .5em 1em;
    background-color: transparent;
    border-radius: .25em;
    font-size: 1.5em;
    border: none;
    outline: none;
}

.slider__arrows>button>i {
    display: flex;
    justify-content: center;
    place-items: center;
}

.slider__arrows #prev {
    margin-right: 10em;
}

.slider__arrows #next {
    margin-left: 10em;
}

#prev,
#next {
    cursor: pointer;

}

.slider__numbers {
    font-size: 1.5em;
    font-weight: 800;
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    place-items: center;
}



.film__schedule-top2 .film__schedule-trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}



button#watch-trailer i {
    background: transparent;
}
.film__schedule-trailer button#watch-trailer {
    align-items: center;
    display: flex;
    justify-content: center;
    /* padding: 3em; */
    width: 6em;
    height: 6em;
    margin-bottom: 0.5em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-out;
    transition-duration: 250ms;
}

.film__schedule-trailer button:hover {
    background-color: var(--default-red);
    color: var(--text-color);
    transform: scale(1.1);
}

#watch-trailer>i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.film__schedule-trailer #trailer-detail {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    font-size: .9em;
}

.xline {
    margin: 2.5em 0;
    width: 100%;
    border: 1px solid black;
    background: linear-gradient(to right, transparent, black, transparent)
}

section.main {
    width: 100%;
    margin: 0 1em;
    margin-left: auto;
    margin-right: auto;
    /* padding: .25em; */
}

.main__header {
    position: relative;
    margin: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.main__header-title {
    display: flex;
    justify-content: center;
    align-self: center;
}

.main__header-title h2 {
    text-align: center;
    text-transform: uppercase;
}

.main__header-search {
    margin-right: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main__header-search i {
    position: absolute;
    margin-right: .5em;
    padding: .5em;
    font-size: 1.05em;
}

.main__header-search input {
    border: .125em solid black;
    width: 30em;
    padding: .75em;
}

.main__cinema-category {
    /* border: 2px solid goldenrod; */
    position: relative;
    padding: .5em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__cinema-category span {
    border: 1px solid grey;
    border-radius: .3125em;
    margin: 0 2em;
    padding: .5em 2em;
    cursor: pointer;
    /* display: flex; */
    /* justify-content: space-between; */
}

.cinema-type h5 {
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: black;
}


main {
    padding: 1em;
    margin-top: 2em;
    display: grid;
    background-color: rgb(65, 63, 63);
}

.main__films-content {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content 1fr min-content;
    justify-content: space-evenly;
}


.film_card {
    position: relative;
    padding: .75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    /* transition: ease-in 350ms; */
}

.film_card img {
    aspect-ratio: 7/9;
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: .5em;
    transition-duration: 250ms;
    cursor: pointer;
}


.film_card img:hover {
    transform: scale(.95);
    /* border: 2px solid var(--default-red); */
}


.film_about {
    /* position: absolute; */
    cursor: pointer;
    margin-top: .75em;
    display: flex;
    padding: .5em;
    text-align: center;
    flex-direction: column;
    /* border: 1px solid var(--default-red); */
    align-items: center;
    justify-content: center;
}

.film_about>.film_title {
    /* display: inline-block; */
    padding: 0 0 .25em 0;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: wrap;
    /* text-overflow: ; */
    font-size: .9em;
    color: burlywood;
    text-transform: capitalize;
}

.film_about .film_detail {
    /* padding: .25em .5em; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.film_detail>span {
    margin: 0 .75em;
    text-align: center;
    font-size: .85em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.film_detail>.film_duration {
    place-items: center;
    padding: .25em;
}

.film_detail>.film_genre {
    padding: .25em;
    text-transform: uppercase;
}



.page__footer {
    border: 1px solid greenyellow;
    width: 100%;
    margin: 0 1em;
    padding: 4em .5em;
    position: absolute;
}

.page__footer-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex: calc(100% /3);
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
}

.page__footer-container>.cinema-logo {
    text-align: center;
    text-transform: uppercase;
    transition: 250ms ease-out;
    cursor: pointer;
}

.page__footer-container>.cinema-logo:hover {
    transform: scale(.9);
    color: blue;
}


.page__footer-container > .nav__links {
    /* border: 1px solid cadetblue; */
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.page__footer-container > .contact-socials {
    padding: 1em;
    margin: 0 .25em;
}

.contact-socials > span {
    flex-direction: row;
    text-align: center;
    padding: .25em;
    margin: 0 .75em;
    border: 1px solid grey;
    /* padding: 1em; */
}