@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Monomaniac+One&display=swap');


:root {
    --intro-font-color: rgb(73, 223, 165);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../assets/intro-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .55);
    z-index: -1;

}

.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.banner__text-cinema {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 3vw 6vw;
    text-align: center;
    color: var(--intro-font-color);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 7em;
    margin: .5em 2em 1em 2em;
}

.banner__text-bottom {
    text-align: center;
    color: var(--intro-font-color);
    font-family: 'Lato', sans-serif;
    padding: .5em 1em;
    max-width: 50%;
    font-size: 1.45em;
    margin-bottom: 2.5em;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 8s steps(100) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}