* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

.top__section-nav {
    margin: 2em;
}

nav {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__links>.nav__link {
    text-align: center;
    margin: 0 2em;
}


nav>.nav__cinema-logo>h1 {
    font-size: 1.7em;
    text-transform: uppercase;
}

.nav__button > button {
    padding: .75em 2em;
    border-radius: .75em;
    border: none;
}